.working-good {
  background-color: lightgreen !important;
}

.working-bad {
  background-color: red !important;
}

.working-moderate {
  background-color: yellow !important;
}

.container-presentation {
  min-height: 800px;
  background-color: whitesmoke;
  background-size: cover;
  border-radius: 15px;
}

.score-table-1 {
  background-color: aliceblue;
  border-radius: 10px;
  font-size: 2rem;
}

.score-table-2 {
  background-color: #ececea;
  border-radius: 10px;
  font-size: 2rem;
}

.metadata {
  color: blue;
}
